/*
  CSS - Storymaps
*/

footer, section.region-top-header {
  display:none!important;
}

.screen-vh {
  height: calc(100vh - 95px);
  top: 95px;
}

.screen-vh-admin {
  height: calc(100vh - 143px);
  top: 143px;
}

div#iframe_wrapper {
  position: fixed;
  /* height: 100%; */
  left: 0;
  right: 0;
  width: 100%;
  background: #fff;
}
#story_iframe {
  position: relative;
  border:0;
  height:100%;
  z-index:100;
  width: 100%;
}

div#edit_storymap {
  position: fixed;
  bottom: 0;
  right: 10%;
}

nav.tabs {
  position: fixed;
  bottom: 0;
  z-index: 20;
  margin-bottom: 0px !important;
}

button.story-description {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 20;
}

.field.field--name-field-document {
  position: fixed;
  width: 100%;
  left: 0;
  top: 95px;
  bottom: 0;
}

.toolbar-fixed .field.field--name-field-document {
  top: 143px;
}

.messages__wrapper {
  z-index: 99;
  position: relative;
}